@model samis.Models.BudgetType

<div>
    <h4>BudgetType</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.budgetTypeName)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.budgetTypeName)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.budgetTypeId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>