@{
    ViewData["Title"] = "Home Page";
}

<div class="flex-container">
    <div style="flex-grow: 1"><h4><b>OVERVIEW</b></h4></div>
    <div style="flex-grow: 1">
        <h6 style="text-align: right">VINCENT MARY SCHOOL OF SCIENCE AND TECHNOLOGY <img src="~/img/ic_vms.png" width="30" height="30" /></h6>
    </div>
</div>

<div style="margin-top: 30px">
    <div class="flex-container">
        <div style="flex-grow: 1">
            <div style="text-align: center; font-size: 32px">1</div>
            <div style="text-align: center">ONGOING PROJECTS</div>
        </div>
        <div style="flex-grow: 1">
            <div style="text-align: center; font-size: 32px">4</div>
            <div style="text-align: center">COMPLETED PROJECTS</div>
        </div>
        <div style="flex-grow: 1">
            <div style="text-align: center; font-size: 32px">3</div>
            <div style="text-align: center">REJECTED PROJECTS</div>
        </div>
    </div>
</div>