@{
ViewData["Title"] = "Create Project";
}

<div class="flex-container">
    <div style="flex-grow: 1">
        <h4><b>CREATE PROJECT</b></h4>
    </div>
    <div style="flex-grow: 1">
        <h6 style="text-align: right">VINCENT MARY SCHOOL OF SCIENCE AND TECHNOLOGY <img src="~/img/ic_vms.png"
                width="30" height="30" /></h6>
    </div>
</div>

@model samis.Models.Project
<form asp-action="Create">
    <div class="flex-container" style="margin-top: 16px">
        <div style="flex-grow: 1">
            <h3><b><input asp-for="activityInformation.activityName" class="form-control" type="text"
                        style="width: 80%; height: 50%" placeholder="PROJECT NAME" /></b>
                <span asp-validation-for="activityInformation.activityName" class="text-danger"></span>
            </h3>
        </div>
        <div style="flex-grow: 1">
            <h6 style="text-align: right">S2019090096</h6>
        </div>
    </div>
    <table style="width: 100%; margin-top: 16px">
        <tr>
            <td><b>Project Type: </b></td>
            <td>
                <select asp-for="activityInformation.activityTypeId" class="form-control"
                    asp-items="ViewBag.activityTypeName" style="width: 80%;"></select>
                <span asp-validation-for="activityInformation.activityTypeId" class="text-danger"></span>
            </td>
            <td><b>Semester: </b></td>
            <td colspan="2">
                <select asp-for="activityInformation.referenceNumber" id="semester" class="form-control">
                    <option selected>2/2018</option>
                    <option>3/2018</option>
                    <option>1/2019</option>
                </select>
            </td>
        </tr>
        <tr>
            <td><b>Project Level: </b></td>
            <td>
                <select asp-for="activityInformation.projectLevelId" class="form-control" style="width: 80%;"
                    asp-items="ViewBag.projectLevelName"></select>
                <span asp-validation-for="activityInformation.projectLevelId" class="text-danger"></span>
            </td>
            <td><b>Started Date: </b></td>
            <td colspan="2">
                <input asp-for="activityInformation.startDate" class="form-control" type="date" />
                <span asp-validation-for="activityInformation.startDate" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><b>Venue: </b></td>
            <td><input asp-for="activityInformation.venue" class="form-control" type="text" style="width: 80%" />
            </td>
            <td><b>Ended Date: </b></td>
            <td colspan="2">
                <input asp-for="activityInformation.endDate" class="form-control" type="date" />
                <span asp-validation-for="activityInformation.endDate" class="text-danger"></span>
            </td>
        </tr>
        <tr>
            <td><b>Advisor: </b></td>
            <td>A. Sakhon Ounla</td>
            <td><b>Participants: </b></td>
            <td>
                <input asp-for="activityInformation.participant" class="form-control" type="text" style="width: 90%" />
                <span asp-validation-for="activityInformation.participant" class="text-danger"></span>
            </td>
            <td style="width: 16px">Persons</td>
        </tr>
    </table>

    <table id="revenueTable" style="width: 100%; margin-top: 32px">
        <tr>
            <th style="width: 60%">
                <h4><b>REVENUES</b></h4>
            </th>
            <th style="text-align: center">ESTIMATED</th>
        </tr>
        <tr id="tridRevenue1">
            <td>
                <div class="flex-container">
                    <div style="flex-grow: 1">
                        <img src="~/img/ic_delete_money_item.png" width="32px" height="32px"
                            onclick="deleteRowRevenue(this)" />
                    </div>
                    <div style=" flex-grow: 100">
                        <select class="form-control" style="width: 80%;">
                            @foreach(var revenue in ViewBag.revenues) {
                            <option>@revenue.name</option>
                            }
                        </select>
                    </div>
                </div>
            </td>
            <td><input class="form-control" type="number" min="1" max="9999999" id="demo"
                    onkeydown="keydownFunction(this)" onkeyup="keyupFunction(this)" />
            </td>
        </tr>
        <tr>
            <td><button style="margin-top: 16px" type="button" class="btn btn-secondary"
                    onclick="insertRowRevenue()">Add
                    Revenue</button></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: center">
                <hr />
            </td>
        </tr>
        <tr>
            <td style="text-align: right">TOTAL:</td>
            <td style="text-align: center">฿0.00</td>
        </tr>
    </table>

    <table id="expenseTable" style="width: 100%; margin-top: 32px">
        <tr>
            <th style="width: 60%">
                <h4><b>EXPENSES</b></h4>
            </th>
            <th style="text-align: center">ESTIMATED</th>
        </tr>
        <tr id="tridExpense1">
            <td>
                <div class="flex-container">
                    <div style="flex-grow: 1">
                        <img src="~/img/ic_delete_money_item.png" width="32px" height="32px"
                            onclick="deleteRowExpense(this)" />
                    </div>
                    <div style="flex-grow: 100">
                        <select class="form-control" style="width: 80%;">
                            @foreach(var expense in ViewBag.expenses) {
                            <option>@expense.name</option>
                            }
                        </select>
                    </div>
                </div>
            </td>
            <td><input class="form-control" type="number" min="1" max="9999999" /></td>
        </tr>
        <tr>
            <td><button style="margin-top: 16px" type="button" class="btn btn-secondary"
                    onclick="insertRowExpense()">Add
                    Expense</button></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td style="text-align: center">
                <hr />
            </td>
        </tr>
        <tr>
            <td style="text-align: right">TOTAL:</td>
            <td style="text-align: center">฿0.00</td>
        </tr>
    </table>

    <!-- <input class="btn bg-success" type="submit" style="width: 100%; color: white; margin-top: 32px"
        value="CREATE PROJECT" onclick="setAllBudgetInList()" /> -->
</form>

<input class="btn bg-success" type="submit" style="width: 100%; color: white; margin-top: 32px" value="CREATE PROJECT"
    onclick="setAllBudgetInList()" />

@section Scripts {
<script>
    function insertRowRevenue() {
        var xTable = document.getElementById('revenueTable');
        var index = xTable.rows.length - 3;
        var tr = xTable.insertRow(index);
        tr.id = 'tridRevenue' + index
        tr.innerHTML = '<td><div class="flex-container"><div style="flex-grow: 1"><img src="/img/ic_delete_money_item.png" width="32px" height="32px" onclick="deleteRowRevenue(this)" /></div><div style=" flex-grow: 100"><select class="form-control" style="width: 80%;">@foreach(var revenue in ViewBag.revenues) {<option>@revenue.name</option>}</select></div></div></td><td><input class="form-control" type="number" min="1" max="9999999" /></td>'
    }

    function deleteRowRevenue(row) {
        var trid = $(row).closest('tr').attr('id');
        var row = document.getElementById(trid);
        row.parentElement.removeChild(row);
    }

    function insertRowExpense() {
        var xTable = document.getElementById('expenseTable');
        var index = xTable.rows.length - 3;
        var tr = xTable.insertRow(index);
        tr.id = 'tridExpense' + index
        tr.innerHTML = '<td><div class="flex-container"><div style="flex-grow: 1"><img src="/img/ic_delete_money_item.png" width="32px" height="32px" onclick="deleteRowExpense(this)" /></div><div style=" flex-grow: 100"><select class="form-control" style="width: 80%;">@foreach(var expense in ViewBag.expenses) {<option>@expense.name</option>}</select></div></div></td><td><input class="form-control" type="number" min="1" max="9999999" /></td>'
    }

    function deleteRowExpense(row) {
        var trid = $(row).closest('tr').attr('id');
        var row = document.getElementById(trid);
        row.parentElement.removeChild(row);
    }

    function setAllBudgetInList() {
        var revenueTable = document.getElementById('revenueTable').getElementsByTagName('input')
        var expenseTable = document.getElementById('expenseTable').getElementsByTagName('input')
        for (var i = 0; i < revenueTable.length; i++) {
            var id = revenueTable[i].id
            alert(id)
        }
    }

    // function keydownFunction(row) {
    //     $(row).style.backgroundColor = "red";
    // }

    // function keyupFunction(row) {
    //     var trid = $(row).closest('input').attr('id');
    //     alert(trid)
        // $(row).style.backgroundColor = "green";
    // }

    // function getInputTypeValue(input) {
    //     var inputValue = $(input).closest('input').attr('value');
    //     alert(inputValue)
    // }
</script>
}