@{
    ViewData["Title"] = "Create Project";
}

<div class="flex-container">
    <div style="flex-grow: 1"><h4><b>CREATE PROJECT</b></h4></div>
    <div style="flex-grow: 1"><h6 style="text-align: right">VINCENT MARY SCHOOL OF SCIENCE AND TECHNOLOGY <img src="~/img/ic_vms.png" width="30" height="30" /></h6></div>
</div>

@model samis.Models.ActivityInformation

@{
    ViewData["Title"] = "Details";
}

<div class="flex-container" style="margin-top: 16px">
    <div style="flex-grow: 1"><h3><b><input class="form-control" type="text" style="width: 80%; height: 50%" placeholder="PROJECT NAME" /></b></h3></div>
    <div style="flex-grow: 1"><h6 style="text-align: right">S2019090096</h6></div>
</div>

<table style="width: 100%; margin-top: 16px">
    <tr>
        <td><b>Project Type: </b></td>
        <td>
            <select id="inputState" class="form-control" style="width: 80%;">
                <option selected>Academic</option>
                <option>Arts & Culture</option>
                <option>Ideal Graduate</option>
                <option>Procurement</option>
            </select>
        </td>
        <td><b>Semester: </b></td>
        <td colspan="2">
            <select id="inputState" class="form-control">
                <option selected>2/2018</option>
                <option>3/2018</option>
                <option>1/2019</option>
            </select>
        </td>
    </tr>
    <tr>
        <td><b>Project Level: </b></td>
        <td>
            <select id="inputState" class="form-control" style="width: 80%;">
                <option selected>Institutional</option>
                <option>Inter-collegiate</option>
                <option>Regional</option>
                <option>National</option>
            </select>
        </td>
        <td><b>Started Date: </b></td>
        <td colspan="2"><input class="form-control" type="date"/></td>
    </tr>
    <tr>
        <td><b>Venue: </b></td>
        <td><input class="form-control" type="text" style="width: 80%" /></td>
        <td><b>Ended Date: </b></td>
        <td colspan="2"><input class="form-control" type="date"/></td>
    </tr>
    <tr>
        <td><b>Advisor: </b></td>
        <td>A. Sakhon Ounla</td>
        <td><b>Participants: </b></td>
        <td><input class="form-control" type="text" style="width: 90%" /></td>
        <td style="width: 16px">Persons</td>
    </tr>
</table>

<table style="width: 100%; margin-top: 32px">
    <tr>
        <th style="width: 60%"><h4><b>REVENUES</b></h4></th>
        <th style="text-align: center">ESTIMATED</th>
    </tr>
    <tr>
        <td>
            <div class="flex-container">
                <div style="flex-grow: 1">
                    <img src="~/img/ic_delete_money_item.png" width="32px" height="32px"/>
                </div>
                <div style="flex-grow: 100">
                    <select id="inputState" class="form-control" style="width: 80%;">
                        <option selected>AUSO Support</option>
                        <option>Other Income</option>
                        <option>Participant Support</option>
                    </select>
                </div>
            </div>
        </td>
        <td><input class="form-control" type="text"/></td>
    </tr>
    <tr>
 <td>
            <div class="flex-container">
                <div style="flex-grow: 1">
                    <img src="~/img/ic_delete_money_item.png" width="32px" height="32px"/>
                </div>
                <div style="flex-grow: 100">
                    <select id="inputState" class="form-control" style="width: 80%;">
                        <option>AUSO Support</option>
                        <option selected>Other Income</option>
                        <option>Participant Support</option>
                    </select>
                </div>
            </div>
        </td>
        <td><input class="form-control" type="text"/></td>
    </tr>
    <tr>
         <td>
            <div class="flex-container">
                <div style="flex-grow: 1">
                    <img src="~/img/ic_delete_money_item.png" width="32px" height="32px"/>
                </div>
                <div style="flex-grow: 100">
                    <select id="inputState" class="form-control" style="width: 80%;">
                        <option>AUSO Support</option>
                        <option>Other Income</option>
                        <option selected>Participant Support</option>
                    </select>
                </div>
            </div>
        </td>
        <td><input class="form-control" type="text"/></td>
    </tr>
    <tr>
        <td><button style="margin-top: 16px" type="button" class="btn btn-secondary">Add Revenue</button></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align: center"><hr /></td>
    </tr>
    <tr>
        <td style="text-align: right">TOTAL:</td>
        <td style="text-align: center">฿0.00</td>
    </tr>
</table>

<table style="width: 100%; margin-top: 32px">
    <tr>
        <th style="width: 60%"><h4><b>EXPENSES</b></h4></th>
        <th style="text-align: center">ESTIMATED</th>
    </tr>
    <tr>
         <td>
            <div class="flex-container">
                <div style="flex-grow: 1">
                    <img src="~/img/ic_delete_money_item.png" width="32px" height="32px"/>
                </div>
                <div style="flex-grow: 100">
                    <select id="inputState" class="form-control" style="width: 80%;">
                        <option selected>Accommodation, Seminar Room & Fee(s)</option>
                        <option>Transportation</option>
                        <option>Miscellaneous</option>
                    </select>
                </div>
            </div>
        </td>
        <td><input class="form-control" type="text"/></td>
    </tr>
    <tr>
                 <td>
            <div class="flex-container">
                <div style="flex-grow: 1">
                    <img src="~/img/ic_delete_money_item.png" width="32px" height="32px"/>
                </div>
                <div style="flex-grow: 100">
                    <select id="inputState" class="form-control" style="width: 80%;">
                        <option>Accommodation, Seminar Room & Fee(s)</option>
                        <option selected>Transportation</option>
                        <option>Miscellaneous</option>
                    </select>
                </div>
            </div>
        </td>
        <td><input class="form-control" type="text"/></td>
    </tr>
    <tr>
                 <td>
            <div class="flex-container">
                <div style="flex-grow: 1">
                    <img src="~/img/ic_delete_money_item.png" width="32px" height="32px"/>
                </div>
                <div style="flex-grow: 100">
                    <select id="inputState" class="form-control" style="width: 80%;">
                        <option>Accommodation, Seminar Room & Fee(s)</option>
                        <option>Transportation</option>
                        <option selected>Miscellaneous</option>
                    </select>
                </div>
            </div>
        </td>
        <td><input class="form-control" type="text"/></td>
    </tr>
    <tr>
        <td><button style="margin-top: 16px" type="button" class="btn btn-secondary">Add Expense</button></td>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align: center"><hr /></td>
    </tr>
    <tr>
        <td style="text-align: right">TOTAL:</td>
        <td style="text-align: center">฿0.00</td>
    </tr>
</table>

<input class="btn bg-success" type="submit" style="width: 100%; color: white; margin-top: 32px" value="CREATE PROJECT" />