@model samis.Models.ActivityInformation

@{
ViewData["Title"] = "Details";
}

<div class="flex-container">
    <div style="flex-grow: 1">
        <h3><b>GRADUATING STUDENT ORIENTATION</b></h3>
    </div>
    <div style="flex-grow: 1">
        <h6 style="text-align: right">S2019090096</h6>
    </div>
</div>

<table style="width: 100%; margin-top: 16px">
    <tr>
        <td><b>Project Type: </b></td>
        <td>Ideal Graduate-Entrepreneurial Spirit</td>
        <td><b>Semester: </b></td>
        <td>2 / 2018</td>
    </tr>
    <tr>
        <td><b>Project Level: </b></td>
        <td>Instiltutional</td>
        <td><b>Started Date: </b></td>
        <td>24 April 2019</td>
    </tr>
    <tr>
        <td><b>Venue: </b></td>
        <td>VMS 0101 (On Campus)</td>
        <td><b>Ended Date: </b></td>
        <td>24 April 2019</td>
    </tr>
    <tr>
        <td><b>Advisor: </b></td>
        <td>A.Sakhon Ounla</td>
        <td><b>Participants: </b></td>
        <td>50 Persons</td>
    </tr>
</table>

<table style="width: 100%; margin-top: 32px">
    <tr>
        <th style="width: 60%">
            <h4><b>REVENUES</b></h4>
        </th>
        <th style="text-align: center">PROPOSED</th>
        <th style="text-align: center">APPROVED</th>
    </tr>
    <tr>
        <td>AUSO Support</td>
        <td style="text-align: center">฿61,560</td>
        <td style="text-align: center">฿43,500</td>
    </tr>
    <tr>
        <td>Other Income</td>
        <td style="text-align: center">฿5,640</td>
        <td style="text-align: center">฿8,290</td>
    </tr>
    <tr>
        <td>Participant Support</td>
        <td style="text-align: center">฿22,500</td>
        <td style="text-align: center">฿22,500</td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align: center">
            <hr />
        </td>
        <td style="text-align: center">
            <hr />
        </td>
    </tr>
    <tr>
        <td style="text-align: right">TOTAL:</td>
        <td style="text-align: center">฿89,700</td>
        <td style="text-align: center">฿74,920</td>
    </tr>
</table>

<table style="width: 100%; margin-top: 32px">
    <tr>
        <th style="width: 60%">
            <h4><b>EXPENSES</b></h4>
        </th>
        <th style="text-align: center;">PROPOSED</th>
        <th style="text-align: center">APPROVED</th>
    </tr>
    <tr>
        <td>Accommodation, Seminar Room & Fee(s) </td>
        <td style="text-align: center">฿61,560</td>
        <td style="text-align: center">฿43,500</td>
    </tr>
    <tr>
        <td>Transportation</td>
        <td style="text-align: center">฿5,640</td>
        <td style="text-align: center">฿8,290</td>
    </tr>
    <tr>
        <td>Miscellaneous</td>
        <td style="text-align: center">฿22,500</td>
        <td style="text-align: center">฿22,500</td>
    </tr>
    <tr>
        <td></td>
        <td style="text-align: center">
            <hr />
        </td>
        <td style="text-align: center">
            <hr />
        </td>
    </tr>
    <tr>
        <td style="text-align: right">TOTAL:</td>
        <td style="text-align: center">฿89,700</td>
        <td style="text-align: center">฿74,920</td>
    </tr>
</table>